<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CodeBlue - 위치 기반 추천 응급실 조회 페이지</title>

    <!-- css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <style>
      * {
        font-family: 'Noto Sans KR', sans-serif;
      }

      .hospital_title {
        display: flex;
        align-items: center;
      }

      .hospital_title h3 {
        margin: 10px 10px 10px 0px;
      }

      .title-call-button {
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
      }

      .button {
        font-family: 'Noto Sans KR', sans-serif;
      }
    </style>

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav
      class="navbar is-info is-light"
      role="navigation"
      aria-label="main navigation"
      style="padding: 0 10px 0 75px"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <!-- <img
            src="https://user-images.githubusercontent.com/76824986/246324142-743e6431-3870-4c20-8123-16e11f8582cb.jpg"
            width="40"
            height="auto"
          /> -->
          CodeBLUE
        </a>
        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item"> 증상보고서 입력 </a>

          <a class="navbar-item" href="/search"> 증상보고서 검색 </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link"> More </a>

            <div class="navbar-dropdown">
              <a class="navbar-item"> 가까운 응급실 조회 </a>
              <a class="navbar-item"> 증상보고서 수정 </a>
              <a class="navbar-item"> 환자 정보 입력 및 수정 </a>
              <hr class="navbar-divider" />
              <a class="navbar-item"> Report an issue </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="content hospitals_block" style="margin-top: 30px">
        <h2>현재 위치 기반 추천 병원 목록 (<%=hospitals_data[0]%> 기준)</h2>
        <div class="card">
          <div class="card-content">
            <div class="content">
              <h5>환자 증상 정보</h5>
              <div class="has-text-link has-text-weight-bold">
                환자의 중증도 레벨: <%=hospitals_data[1].symptom_level%>
              </div>
              <div>환자의 혈압: <%=hospitals_data[1].blood_pressure%></div>
              <div>환자의 혈액형: <%=hospitals_data[1].blood_type%></div>
            </div>
          </div>
        </div>
        <div class="box">
          <% for (let i = 1; i < hospitals_data.length; i++) { %>
          <div class="box has-background-light">
            <div class="hospital_title">
              <h3><%=hospitals_data[i].name %></h3>
              <div class="title-call-button">
                <button class="button is-dark mr-3 mt-3">전화 걸기</button>
                <button class="button is-danger is-dark mt-3">
                  환자 이송신청
                </button>
              </div>
            </div>
            <h6 class="mb-2">
              소요시간: <%=hospitals_data[i].minutes %>
              <%=hospitals_data[i].seconds %>
            </h6>
            <h6>이동거리: <%=hospitals_data[i].distance %></h6>
            <div class="columns">
              <div class="column">실시간 가용병상:</div>
              <div class="column has-text-danger has-text-weight-bold">
                응급실: <%=hospitals_data[i].real_time_beds_info.emergencyRoom
                %>
              </div>
              <div class="column has-text-weight-bold">
                수술실: <%=hospitals_data[i].real_time_beds_info.surgeryRoom %>
              </div>
              <div class="column has-text-weight-bold">
                입원실: <%=hospitals_data[i].real_time_beds_info.ward %>
              </div>
              <div class="column has-text-link has-text-weight-bold">
                이송신청 잔여병상: <%=hospitals_data[i].available_beds %>/5
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    <footer class="footer mt-5">
      <div class="content has-text-centered">
        <p>
          <strong>CodeBLUE</strong> by 항해 14기 챌린지팀 20조. The source code
          is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The
          website content is licensed
          <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
            >CC BY NC SA 4.0</a
          >.
        </p>
      </div>
    </footer>
  </body>
</html>
