<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link rel="icon" href="../../image/codeblue-favicon.png" />
    <link rel="apple-touch-icon" href="../../image/codeblue-favicon.png" />

    <title>CodeBLUE - 증상 보고서 상세 페이지</title>

    <!-- Meta Tag -->
    <meta property="og:url" content="https://codeblue.site" />
    <meta property="og:title" content="CodeBLUE" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="../../image/codeblue.png" />
    <meta
      property="og:description"
      content="CodeBLUE - 증상 보고서 상세 페이지"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        font-family: 'Noto Sans KR', sans-serif;
      }

      .button {
        font-family: 'Noto Sans KR', sans-serif;
      }

      #BackButton {
        position: fixed;
        bottom: 50px;
        right: 45px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }

      table {
        width: 100%;
        table-layout: fixed;
      }

      td {
        padding: 10px;
      }

      .box {
        padding: 35px;
      }
    </style>
  </head>
  <script>
    function backtopage() {
      window.history.back();
    }
  </script>
  <body>
    <nav
      class="navbar is-info is-light"
      role="navigation"
      aria-label="main navigation"
      style="padding: 0 10px 0 75px"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img
            src="../../image/onlytext-cutout.png"
            width="120"
            height="auto"
          />
        </a>
        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/symptom-report"> 증상보고서 입력 </a>
          <a class="navbar-item" href="/search"> 증상보고서 검색 </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link"> More </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="/hospital/nearby/site">
                가까운 병원 조회
              </a>
              <hr class="navbar-divider" />
              <a class="navbar-item" href="mailto:codebluejjang@gmail.com">
                Report an issue
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container is-max-widescreen">
      <div class="content results" style="margin-top: 30px">
        <h2>조회하신 보고서의 상세 내용입니다.</h2>
        <button
          id="BackButton"
          class="button has-background-info-dark has-text-white-bis"
          onclick="backtopage()"
        >
          돌아가기
        </button>
        <div class="box">
          <% if (reportDetails.patient_rrn) { %>
          <div class="box has-background-light">
            <h3>환자 정보</h3>
            <table>
              <tbody>
                <tr>
                  <td><strong>이름</strong></td>
                  <td><%=reportDetails.patient_name%></td>
                </tr>
                <tr>
                  <td><strong>성별</strong></td>
                  <% let gender; %> <% if(reportDetails.gender === 'M') { gender
                  = '남성' } else { gender = '여성'} %>
                  <td><%=gender %></td>
                </tr>
                <tr>
                  <td><strong>주민등록번호</strong></td>
                  <% let hidden_rnn =
                  reportDetails.patient_rrn.replace(/(\d{6})$/, '******');%>
                  <td><%=hidden_rnn%></td>
                </tr>
              </tbody>
            </table>
          </div>
          <% } %>
          <div class="box has-background-light">
            <h3>증상 상세 정보</h3>
            <table>
              <tbody>
                <tr>
                  <td><strong>중증도 등급</strong></td>
                  <td class="has-text-danger"><%=reportDetails.symptom_level%></td>
                </tr>
                <tr>
                  <td><strong>연령대</strong></td>
                  <td><%=reportDetails.age_range%></td>
                </tr>
                <tr>
                  <td><strong>혈압</strong></td>
                  <td><%=reportDetails.blood_pressure%></td>
                </tr>
                <tr>
                  <td><strong>세부 증상</strong></td>
                  <td class="has-text-link"><%=reportDetails.symptoms%></td>
                </tr>
                <% const originalDate = reportDetails.createdAt; %> <% const
                year = originalDate.getFullYear(); %> <% const month =
                originalDate.getMonth() + 1; %> <% const date =
                originalDate.getDate(); %> <% const hours =
                originalDate.getHours(); %> <% const minutes =
                originalDate.getMinutes(); %> <% const updateDate =
                reportDetails.updatedAt; %> <% const updatedYear =
                updateDate.getFullYear(); %> <% const updatedMonth =
                updateDate.getMonth() + 1; %> <% const updatedDate =
                updateDate.getDate(); %> <% const updatedHours =
                updateDate.getHours(); %> <% const updatedMinutes =
                updateDate.getMinutes(); %>
                <tr>
                  <td><strong>작성 날짜</strong></td>
                  <td>
                    <%= `${year}년 ${month}월 ${date}일 ${hours}시 ${minutes}분`
                    %>
                  </td>
                </tr>
                <tr>
                  <td><strong>최종 수정 날짜</strong></td>
                  <td>
                    <%= `${updatedYear}년 ${updatedMonth}월 ${updatedDate}일
                    ${updatedHours}시 ${updatedMinutes}분` %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="box has-background-light">
            <h3>이송 병원 정보</h3>
            <table>
              <tbody>
                <tr>
                  <td><strong>병원명</strong></td>
                  <td><%=reportDetails.hospital_name%></td>
                </tr>
                <tr>
                  <td><strong>병원 주소</strong></td>
                  <td><%=reportDetails.address%></td>
                </tr>
                <tr>
                  <td><strong>연락처</strong></td>
                  <td><%=reportDetails.phone%></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>CodeBLUE</strong> by 항해 14기 챌린지팀 20조. The source
          code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
          The website content is licensed
          <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
            >CC BY NC SA 4.0</a
          >.
        </p>
      </div>
    </footer>
  </body>
</html>
