<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CodeBlue - 응급 환자 이송 신청 시스템</title>

    <!-- css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <style>
      * {
        font-family: 'Noto Sans KR', sans-serif;
      }

      .button {
        font-family: 'Noto Sans KR', sans-serif;
      }

      .container {
        margin: 50px 85px 50px 85px;
      }
    </style>

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav
      class="navbar is-info is-light"
      role="navigation"
      aria-label="main navigation"
      style="padding: 0 10px 0 75px"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <!-- <img
            src="https://user-images.githubusercontent.com/76824986/246324142-743e6431-3870-4c20-8123-16e11f8582cb.jpg"
            width="40"
            height="auto"
          /> -->
          CodeBLUE
        </a>
        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item"> 증상보고서 입력 </a>

          <a class="navbar-item" href="/search"> 증상보고서 검색 </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link"> More </a>

            <div class="navbar-dropdown">
              <a class="navbar-item"> 가까운 응급실 조회 </a>
              <a class="navbar-item"> 증상보고서 수정 </a>
              <a class="navbar-item"> 환자 정보 입력 및 수정 </a>
              <hr class="navbar-divider" />
              <a class="navbar-item"> Report an issue </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="content results" style="margin-top: 30px">
        <h2>증상 보고서 검색 결과</h2>
        <div class="box">
          <% for (let i = 0; i < searchedData.length; i++) { %>
          <div class="box has-background-light">
            <div>
              <strong>환자 성명:</strong> <%=searchedData[i].patient_name %>
            </div>
            <div>
              <strong>환자 연령대:</strong> <%=searchedData[i].reports_age_range
              %>
            </div>
            <br />
            <div>
              <strong>이송 병원:</strong> <%=searchedData[i].hospital_name %>
            </div>
            <div>
              <strong>중증도:</strong> <%=searchedData[i].reports_symptom_level
              %>
            </div>
            <div>
              <strong>증상:</strong> <%=searchedData[i].reports_symptoms %>
            </div>
            <br />
            <% const originalDate = searchedData[i].reports_createdAt; %> <%
            const year = originalDate.getFullYear(); %> <% const month =
            originalDate.getMonth() + 1; %> <% const date =
            originalDate.getDate(); %> <% const hours = originalDate.getHours();
            %> <% const minutes = originalDate.getMinutes(); %> <%= `${year}년
            ${month}월 ${date}일 ${hours}시 ${minutes}분` %>
            <div>
              <strong>생성 일자:</strong> <%= `${year}년 ${month}월 ${date}일
              ${hours}시 ${minutes}분` %>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </body>
  <footer class="footer mt-5">
    <div class="content has-text-centered">
      <p>
        <strong>CodeBLUE</strong> by 항해 14기 챌린지팀 20조. The source code is
        licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The
        website content is licensed
        <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
          >CC BY NC SA 4.0</a
        >.
      </p>
    </div>
  </footer>
</html>
